@theme {
  --color-slate-950: #020617;
}

/* Custom layout refinement utilities */
#queue-nodes-container::-webkit-scrollbar {
  width: 4px;
}

#queue-nodes-container::-webkit-scrollbar-track {
  background: transparent;
}

#queue-nodes-container::-webkit-scrollbar-thumb {
  background-color: #334155;
  border-radius: 20px;
}

#queue-nodes-container::-webkit-scrollbar-thumb:hover {
  background-color: #475569;
}
